.contact-us__text {
  height: $g*6;
  text-align: center;
  max-width: 60%;
  margin: 0 20% 4% 20%;
}

.form_wrapper {
  display: flex;
  flex-wrap: wrap;
}

form {
  margin: 0 10% 10% 30%;
  width: 25%;
}

input {
  width: 120%;
  border: solid 1px $c_blue;
  color: $c_blue;
  padding: 4%;
}

textarea {
  border: solid 1px $c_blue;
  color: $c_blue;
  padding: 4%;
  max-width: 120%;
}

.button {
  width: $g*1;
}

input::-webkit-input-placeholder {
  color: $c_blue;
}

textarea::-webkit-input-placeholder {
  color: $c_blue;
}

.contact-us__info {
  width: $g*13;
  margin: 2%;
}


.contact__social-link {
  margin-right: 8%;
}
