<!-- Recommended designers start -->
<hr/>
<h2>More from this designer</h2>
<div class="contestants">
    <div class="contestants__wrapper">
        <ul class="contestants__list">
            <li class="contestants__item">
                <a class="contestants__link" href="javascript:;">
                    <img class="contestants__photo" src="static/uploads/contestants_1.jpg{{ ver }}">
                </a>
                <div class="contestants__info">
                    <div class="contestants__author">By <a class="contestants__author-link" href="javascript:;">Iggy Azalea</a></div>
                    <div class="contestants__action">
                        {% include "../../static/icons/like.svg" %}
                    </div>
                    <div class="contestants__action">
                        {% include "../../static/icons/dislike.svg" %}
                    </div>
                </div>
            </li>
            <li class="contestants__item">
                <a class="contestants__link" href="javascript:;">
                    <img class="contestants__photo" src="static/uploads/contestants_2.jpg{{ ver }}">
                </a>
                <div class="contestants__info">
                    <div class="contestants__author">By <a class="contestants__author-link" href="javascript:;">Britney Spears</a></div>
                    <div class="contestants__action">
                        {% include "../../static/icons/like.svg" %}
                    </div>
                    <div class="contestants__action">
                        {% include "../../static/icons/dislike.svg" %}
                    </div>
                </div>
            </li>
            <li class="contestants__item">
                <a class="contestants__link" href="javascript:;">
                    <img class="contestants__photo" src="static/uploads/contestants_3.jpg{{ ver }}">
                </a>
                <div class="contestants__info">
                    <div class="contestants__author">By <a class="contestants__author-link" href="javascript:;">Beyonce Knowles</a></div>
                    <div class="contestants__action">
                        {% include "../../static/icons/like.svg" %}
                    </div>
                    <div class="contestants__action">
                        {% include "../../static/icons/dislike.svg" %}
                    </div>
                </div>
            </li>
            <li class="contestants__item">
                <a class="contestants__link" href="javascript:;">
                    <img class="contestants__photo" src="static/uploads/contestants_4.jpg{{ ver }}">
                </a>
                <div class="contestants__info">
                    <div class="contestants__author">By <a class="contestants__author-link" href="javascript:;">Amanda Kohar</a></div>
                    <div class="contestants__action">
                        {% include "../../static/icons/like.svg" %}
                    </div>
                    <div class="contestants__action">
                        {% include "../../static/icons/dislike.svg" %}
                    </div>
                </div>
            </li>
            <li class="contestants__item">
                <a class="contestants__link" href="javascript:;">
                    <img class="contestants__photo" src="static/uploads/contestants_5.jpg{{ ver }}">
                </a>
                <div class="contestants__info">
                    <div class="contestants__author">By <a class="contestants__author-link" href="javascript:;">Iggy Azalea</a></div>
                    <div class="contestants__action">
                        {% include "../../static/icons/like.svg" %}
                    </div>
                    <div class="contestants__action">
                        {% include "../../static/icons/dislike.svg" %}
                    </div>
                </div>
            </li>
            <li class="contestants__item">
                <a class="contestants__link" href="javascript:;">
                    <img class="contestants__photo" src="static/uploads/contestants_6.jpg{{ ver }}">
                </a>
                <div class="contestants__info">
                    <div class="contestants__author">By <a class="contestants__author-link" href="javascript:;">Britney Spears</a></div>
                    <div class="contestants__action">
                        {% include "../../static/icons/like.svg" %}
                    </div>
                    <div class="contestants__action">
                        {% include "../../static/icons/dislike.svg" %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Recommended designers finish -->
