.contact {
    display: flex;
    width: 75%;
    margin: auto;

    @include res(pad) {
		width: 100%;
	}

	@include res(smart) {
		flex-direction: column;
	}
}

.contact__form {
    flex: 1 1 70%;
    margin-right: $g_space*3;
    margin-bottom: $g_space;

    @include res(pad) {
		margin-right: $g_space;
	}

	@include res(smart) {
		margin-right: 0;
	}
}

.contact__info {
    flex: 1 1 30%;
}

.contact__header {
    margin-top: $g_space;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.contact__header:first-child {
    margin-top: 0;
}

.contact__text {
    margin-top: $g_space/4;
    font-style: normal;
}

.contact__social {
    margin-top: $g_space/4;
}

.contact__social-link {
    margin-right: $g_space/2;
    padding: $g/5;
    font-size: $fs_heading;
}