.header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	height: 142px;
	background: transparent;
	//background: rgba(#FCC, .2);
	color: $c_white;
	transition: $s / 2 ease-out;

	&_fixed {
		height: 72px;
		background: $c_grey_dark;
		background: rgba($c_grey_dark, .8);
		box-shadow: 0 0 10px rgba(#000, .2);
	}

	@include res(pad) {
		.nav-open & {
			height: 100%;
		}
	}
}

.header__wrapper {
	@extend .wrapper;

	@include res(pad) {
		height: 100%;
	}
}

.header__burger {
	display: none;

	@include res(pad) {
		display: block;
		position: absolute;
		z-index: 1010;
		top: 20px;
		right: $g * 4;
		width: 30px;
		height: 30px;
		box-sizing: border-box;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}
}

.header__burger-ico {
	@include res(pad) {
		position: absolute;
		top: 50%;
		left: 0;
		width: 30px;
		height: 2px;
		margin: -1px 0 0 0;
		background: $c_white;

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: -9px;
			width: 100%;
			height: 2px;
			margin: -1px 0 0 0;
			background: inherit;
			transition: all $s / 2 linear;
		}

		&:after {
			top: auto;
			bottom: -10px;
		}

		.nav-open &,
		.nav-open-bottom & {
			background: transparent;

			&:before {
				top: 0;
				transform: rotate(45deg);
				background: white;
			}

			&:after {
				bottom: 0;
				transform: rotate(-45deg);
				background: white;
			}
		}
	}
}


.header__main {
	transition: padding $s / 2 linear;

	@include res(pad) {
		padding: 10px 0;
	}
}

.header__site {
	position: absolute;
	z-index: 10;
	top: 45px;
	left: $g * 4;
	font-size: $fs_title;
	line-height: 45px;
	transition: top $s/2 ease-out;

	.header_fixed & {
		top: 13px;
	}

	@include res(pad) {
		top: 13px;
	}
}

.header__home {
	text-decoration: none;
}

.header__actions {
	position: absolute;
	top: 50px;
	right: $g * 4;
	transition: top $s/2 ease-out;

	.header_fixed & {
		top: 13px;
	}

	@include res(pad) {
		z-index: -1;
		top: auto !important;
		bottom: 0;
		left: $g * 4;
		padding-bottom: 20px;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity $s/2 ease-out;

		.nav-open & {
			z-index: 10;
			opacity: 1;
			visibility: visible;
		}
	}
}

.header__button {
	@extend .button;
	@extend .button_light;
}

