.participant {
    position: relative;
    margin-bottom: $g_space*2.5;
}

.participant__wrapper {
    @extend .wrapper;

    display: flex;

    @include res(fablet) {
		flex-direction: column;
	}
}

.participant__photo-wrapper {
    flex: 1 1 50%;
    justify-content: center;
    margin-right: $g_space*2;

    @include res(fablet) {
		margin-right: 0;
		margin-bottom: $g_space;
	}
}
.participant__photo {
    display: block;
    width: 100%;
}

.participant__info {
    flex: 1 1 50%;
}

.participant__desc-title {
    margin-bottom: $g_space*.75;
    font-size: $fs_large;
    text-transform: uppercase;
}

.participant__desc {
    font-size: $fs_large;
}

.participant__action {
    display: inline-block;
    margin-left: $g_space/2;
    width: $g*4;
    vertical-align: middle;
    color: $c_grey;
    cursor: pointer;

    &:hover {
        color: $c_blue;
    }
}

.participant__action svg {
    width: 100%;
    height: 100%;
}

.participant__social-title {
    margin-top: $g_space;
    margin-bottom: $g_space/2;
    font-size: $fs_large;
    text-transform: uppercase;
}

.participant__social {
    margin-top: $g_space/2;
}

.participant__social-link {
    margin-right: $g_space*.5;
    font-size: $g_icon;

    &:hover {
        color: $c_blue;
    }
}

.participant__designer-title {
    margin-top: $g_space;
    margin-bottom: $g_space*.75;
    font-size: $fs_large;
    text-transform: uppercase;
}

.participant__designer-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.participant__designer-photo {
    margin-right: $g_space*.75;
}

.participant__designer-name {
    font-size: $fs_large;
    font-weight: 400;
}

.participant__designer-location {
    margin-top: $g_space/6;
    font-size: $fs_heading;
    color: $c_orange;
}

.participant__designer-sign {
    margin-top: $g_space*0.75;
    width: 100%;
    font-size: $fs_heading;
    color: $c_grey;
}
