.call-to-action {
    position: relative;
    margin-top: $g_space;
    margin-bottom: $g_space*1.5;
    background: $c_blue url('../static/images/call-to-action_bg.png') center center no-repeat;
    overflow: hidden;
}

.call-to-action__wrapper {
    @extend .wrapper;

    min-height: $g*33;
    padding-top: $g*7;
    padding-bottom: $g*7;
    text-align: center;
}

.call-to-action__title {
    position: relative;
    font-size: $fs_title;
    letter-spacing: 0.1em;
    color: $c_white;

    @include res(smart) {
		font-size: $fs_larger;
	}
}

.call-to-action__title:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -$g*4;
    border-top: $g/2.5 solid $c_white;
    width: $g*10;
}

.call-to-action__text {
    margin-top: $g_space*2;
    margin-bottom: $g_space/2;
    font-size: $fs_large;
    color: $c_white;
}
