<!-- Catalog start -->
<div class="catalog">
    <div class="catalog__wrapper">
        <ul class="catalog__list">
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_1.jpg{{ ver }}">
                    <span class="catalog__name">Maxi Dress - True Black</span>
                    <span class="catalog__price">$49.95</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_2.jpg{{ ver }}">
                    <span class="catalog__name">T-Shirt Print - True Black</span>
                    <span class="catalog__price">$29.95</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_3.jpg{{ ver }}">
                    <span class="catalog__name">T-Shirt Print - Grey Heather</span>
                    <span class="catalog__price">$34.95</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_4.jpg{{ ver }}">
                    <span class="catalog__name">T-Shirt Print - Grey</span>
                    <span class="catalog__price">$25.00</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_5.jpg{{ ver }}">
                    <span class="catalog__name">Maxi Dress - True Black</span>
                    <span class="catalog__price">$49.95</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_6.jpg{{ ver }}">
                    <span class="catalog__name">T-Shirt Print - True Black</span>
                    <span class="catalog__price">$29.95</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_7.jpg{{ ver }}">
                    <span class="catalog__name">T-Shirt Print - Grey Heather</span>
                    <span class="catalog__price">$34.95</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_8.jpg{{ ver }}">
                    <span class="catalog__name">T-Shirt Print - Grey</span>
                    <span class="catalog__price">$25.00</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_9.jpg{{ ver }}">
                    <span class="catalog__name">Maxi Dress - True Black</span>
                    <span class="catalog__price">$49.95</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_10.jpg{{ ver }}">
                    <span class="catalog__name">T-Shirt Print - True Black</span>
                    <span class="catalog__price">$29.95</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_11.jpg{{ ver }}">
                    <span class="catalog__name">T-Shirt Print - Grey Heather</span>
                    <span class="catalog__price">$34.95</span>
                </a>
            </li>
            <li class="catalog__item">
                <div class="catalog__to-cart">
                    {% include "../../static/icons/bag.svg" %}
                </div>
                <a class="catalog__link" href="javascript:;">
                    <img class="catalog__photo" src="static/uploads/catalog_12.jpg{{ ver }}">
                    <span class="catalog__name">T-Shirt Print - Grey</span>
                    <span class="catalog__price">$25.00</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Catalog finish -->
