.catalog {
    position: relative;
}

.catalog__wrapper {
    @extend .wrapper;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 (-$g*8) 0;
    padding: 0;
    list-style-type: none;
}

.catalog__item {
    position: relative;
    flex: 0 0 calc(25% - 30px);
    margin-right: $g*4;
    margin-bottom: $g*8;

    &:nth-child(4n) {
        margin-right: 0;
    }

    @include res(pad) {
		flex: 0 0 calc(33.33% - 26.7px);

        &:nth-child(4n) {
            margin-right: $g*4;
        }
		&:nth-child(3n) {
		    margin-right: 0;
		}
	}

	@include res(fablet) {
		flex: 0 0 calc(50% - 20px);

		&:nth-child(2n) {
		    margin-right: 0;
		}
		&:nth-child(2n+1) {
		    margin-right: $g*4;
		}
	}

	@include res(phone) {
		flex: 0 0 100%;
		margin-right: 0;
	}
}

.catalog__to-cart {
    position: absolute;
    right: $g*1.5;
    top: $g*1.5;
}

.catalog__link {
    display: block;
}

.catalog__photo {
    display: block;
    width: 100%;
}

.catalog__name {
    display: block;
    margin-top: $g*3;
    font-family: $ff_alt;
    font-size: $fs_heading;
    letter-spacing: .03em;
    color: $c_blue;
}

.catalog__price {
    display: block;
    font-family: $ff_alt;
    font-size: $fs_subheading;
    letter-spacing: .03em;
}
