{% extends '../blocks/_layout/_layout.html' %}

{% block meta-title %}Lumumba · Competitions{% endblock %}
{% block meta-description %}Competitions descriptions{% endblock %}
{% block meta-keywords %}Competitions keywords{% endblock %}

{% set ver = '?v=' + Date.now() %}
{% set layout_class = '_competitions' %}
{% set nav_competitions = ' nav__link_selected' %}

{% block content %}

    {% include "../blocks/countdown/countdown.html" %}
	{% include "../blocks/latest/latest.html" %}

{% endblock %}
