{% extends '../blocks/_layout/_layout.html' %}

{% block meta-title %}Lumumba · My orders{% endblock %}
{% block meta-description %}My orders descriptions{% endblock %}
{% block meta-keywords %}My orders keywords{% endblock %}

{% set ver = '?v=' + Date.now() %}
{% set layout_class = '_my-orders' %}
{% set nav_my_orders = ' nav__link_selected' %}
{% set leftmenuData = [{
    title: 'My feed',
    url: 'javascript:;'
},{
    title: 'My orders',
    url: 'my-orders.html',
    selected: true
},{
    title: 'My designs',
    url: 'my-designs.html'
},{
    title: 'My content',
    url: 'my-content.html'
},{
    title: 'Account settings',
    url: 'account-settings.html'
},{
    title: 'Shipping address',
    url: 'javascript:;'
},{
    title: 'Billing information',
    url: 'javascript:;'
}] %}
{% set myOrdersData = [{
    image: '../static/uploads/my-orders_1.jpg',
    title: 'Maxi Dress - True Blue',
    status: 'Shipped',
    order_date: 'May 8th 2016',
    order_total: '$35.50',
    billing_name: 'Jinny Oh',
    billing_address: '2922 Main Street Apt 222 Los Angeles, CA 90210 United States',
    shipping_name: 'Jinny Oh',
    shipping_address: '2922 Main Street Apt 222 Los Angeles, CA 90210 United States',
},{
    image: '../static/uploads/my-orders_1.jpg',
    title: 'Maxi Dress - True Blue',
    status: 'Shipped',
    order_date: 'May 8th 2016',
    order_total: '$35.50',
    billing_name: 'Jinny Oh',
    billing_address: '2922 Main Street Apt 222 Los Angeles, CA 90210 United States',
    shipping_name: 'Jinny Oh',
    shipping_address: '2922 Main Street Apt 222 Los Angeles, CA 90210 United States',
}]%}

{% block content %}

    <div class="wrapper">
        <h1 class="title_h1">My dashboard</h1>
        <p class="page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam quam, porttitor semper auctor nec, bibendum at felis. Vestibulum pulvinar congue diam, nec vulputate lectus consequat ac</p>
        <div class="columns">
            <div class="columns__left-menu">
                {% include "../blocks/_left-menu/_left-menu.html" %}
            </div>
            <div class="columns__content">
                <h3 class="title_h3">My orders</h3>
                {% include "../blocks/my-orders/my-orders.html" %}
            </div>
        </div>
    </div>

{% endblock %}
