{% extends '../blocks/_layout/_layout.html' %}

{% block meta-title %}Lumumba · Open blog{% endblock %}
{% block meta-description %}Open blog descriptions{% endblock %}
{% block meta-keywords %}Open blog keywords{% endblock %}

{% set ver = '?v=' + Date.now() %}
{% set layout_class = '_open-blog' %}
{% set nav_open_blog = ' nav__link_selected' %}
{% set blogData = [{
    image: 'static/uploads/blog_1.jpg',
    title: 'Lorem ipsum dolor anat',
    author: 'Chris Brown',
    preview: 'Ut mi eros, elementum id nulla vitae, fermentum faucibus magna. Nunc egestas ultrices nibh et luctus. Vivamus mattis, arcu viverra tincidunt interdum, mauris diam condimentum arcu, vel pellentesque magna magna quis augue. Aenean congue eget quam eu auctor. Donec finibus sodales feugiat. Integer vel facilisis tortor.  Vivamus mattis, arcu viverra tincidunt interdum, mauris dia. Fermentum faucibus magna. Nunc egestas ultrices nibh et luctus. Vivamus mattis, arcu viverra tincidunt interdum, mauris diam condimentum arcu, vel pellentesque magna magna quis augue. Aenean congue eget quam eu auctor.',
    date: 'May 5th, 2016'
},{
    image: 'static/uploads/blog_2.jpg',
    title: 'Lorem ipsum dolor anat',
    author: 'Chris Brown',
    preview: 'Ut mi eros, elementum id nulla vitae, fermentum faucibus magna. Nunc egestas ultrices nibh et luctus. Vivamus mattis, arcu viverra tincidunt interdum, mauris diam condimentum arcu, vel pellentesque magna magna quis augue. Aenean congue eget quam eu auctor. Donec finibus sodales feugiat. Integer vel facilisis tortor.  Vivamus mattis, arcu viverra tincidunt interdum, mauris dia. Fermentum faucibus magna. Nunc egestas ultrices nibh et luctus. Vivamus mattis, arcu viverra tincidunt interdum, mauris diam condimentum arcu, vel pellentesque magna magna quis augue. Aenean congue eget quam eu auctor.',
    date: 'May 5th, 2016'
},{
    image: 'static/uploads/blog_3.jpg',
    title: 'Lorem ipsum dolor anat',
    author: 'Chris Brown',
    preview: 'Ut mi eros, elementum id nulla vitae, fermentum faucibus magna. Nunc egestas ultrices nibh et luctus. Vivamus mattis, arcu viverra tincidunt interdum, mauris diam condimentum arcu, vel pellentesque magna magna quis augue. Aenean congue eget quam eu auctor. Donec finibus sodales feugiat. Integer vel facilisis tortor.  Vivamus mattis, arcu viverra tincidunt interdum, mauris dia. Fermentum faucibus magna. Nunc egestas ultrices nibh et luctus. Vivamus mattis, arcu viverra tincidunt interdum, mauris diam condimentum arcu, vel pellentesque magna magna quis augue. Aenean congue eget quam eu auctor.',
    date: 'May 5th, 2016'
}]%}

{% block content %}

    {% include "../blocks/top-post/top-post.html" %}
    {% include "../blocks/blog/blog.html" %}
	{% include "../blocks/loading/loading.html" %}

{% endblock %}
