{% extends '../blocks/_layout/_layout.html' %}

{% block meta-title %}Lumumba · Themes{% endblock %}
{% block meta-description %}Themes descriptions{% endblock %}
{% block meta-keywords %}Themes keywords{% endblock %}

{% set ver = '?v=' + Date.now() %}
{% set layout_class = '_themes' %}
{% set nav_themes = ' nav__link_selected' %}

{% set latestData = {
    title: 'This week’s theme',
    items: [{
        src: '../static/uploads/latest_3.jpg',
        videoSrc: '',
        title: 'Lorem ipsum theme',
        desc: 'Ut mi eros, elementum id nulla vitae, fermentum faucibus magna. Nunc egestas ultrices nibh et luctus. Vivamus mattis, arcu viverra tincidunt interdum, mauris diam condimentum arcu, vel pellentesque magna magna quis augue. Aenean congue eget quam eu auctor. Donec finibus sodales feugiat. Integer vel facilisis tortor.  Vivamus mattis, arcu viverra tincidunt interdum, mauris dia. Fermentum faucibus magna. Nunc egestas ultrices nibh et luctus. Vivamus mattis, arcu viverra tincidunt interdum, mauris diam condimentum arcu, vel pellentesque magna magna quis augue. Aenean congue eget quam eu auctor.'
    }]
} %}

{% block content %}

    {% include "../blocks/countdown/countdown.html" %}
    {% include "../blocks/latest/latest.html" %}
    <hr/>
    {% include "../blocks/checkers/checkers.html" %}
    {% include "../blocks/call-to-action/call-to-action.html" %}
	{% include "../blocks/theme-desc/theme-desc.html" %}

{% endblock %}
