<!-- Drop content start -->
<div class="drop__root">
    <div class="drop__image-wrapper">
        <img class="drop__image" src="../static/uploads/drop_1.jpg">
    </div>
    <div class="drop__info">
        <div class="drop__title">
            <div class="drop__title-text">
                Description
            </div>
            <div class="drop__title-actions">
                <div class="drop__action">
                    {% include "../../static/icons/like.svg" %}
                </div>
                <div class="drop__action">
                    {% include "../../static/icons/dislike.svg" %}
                </div>
            </div>
        </div>
        <div class="drop__desc">
            Ut mi eros, elementum id nulla vitae, fermentum faucibus magna. Nunc egestas ultrices nibh et luctus. Vivamus mattis, arcu viverra tincidunt interdum, mauris diam condimentum arcu, vel pellentesque magna magna quis augue.
        </div>
        <hr/>
        <div class="drop__designer">
            <div class="drop__avatar-wrapper">
                <img class="drop__avatar" src="../static/uploads/drop_2.jpg">
            </div>
            <div class="drop__designer-info">
                <div class="drop__designer-name">
                    Beyonce Knowles
                </div>
                <div class="drop__designer-location">
                    Houston, TX
                </div>
            </div>
        </div>
        <div class="drop__designer-desc">
            Ut mi eros, elementum id nulla vitae, fermentum faucibus magna. Nunc egestas ultrices nibh et luctus.
        </div>
        <div class="drop__social">
            <a class="drop__social-link" href="https://www.facebook.com/XXX" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a class="drop__social-link" href="https://twitter.com/XXX" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a class="drop__social-link" href="https://plus.google.com/XXX" target="_blank">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
            <a class="drop__social-link" href="https://pinterest.com/XXX" target="_blank">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </a>
            <a class="drop__social-link" href="https://www.instagram.com/XXX" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<!-- Drop content finish -->
