<!-- header start -->
<header class="header" role="banner">
    <div class="header__stripe">
        <div class="header__personal">
            <a class="header__personal-link" href="javascript:;" target="_blank">
                <div class="header__personal-icon">{% include "../../static/icons/search.svg" %}</div>
            </a>
            <a class="header__personal-link" href="javascript:;" target="_blank">
                <div class="header__personal-icon">{% include "../../static/icons/bag.svg" %}</div>
            </a>
            <a class="header__personal-link" href="my-profile.html" target="_blank">
                <div class="header__personal-icon">{% include "../../static/icons/user.svg" %}</div>
            </a>
            <a class="header__personal-link header__personal-link_auth" href="javascript:;" target="_blank">
                Sign in
            </a>
            <a class="header__personal-link header__personal-link_auth" href="javascript:;" target="_blank">
                Sign up
            </a>
        </div>
        <div class="header__social">
            <a class="header__social-link" href="https://www.facebook.com/XXX" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a class="header__social-link" href="https://twitter.com/XXX" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a class="header__social-link" href="https://plus.google.com/XXX" target="_blank">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
            <a class="header__social-link" href="https://pinterest.com/XXX" target="_blank">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </a>
            <a class="header__social-link" href="https://www.instagram.com/XXX" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    {% include "../_nav/_nav.html" %}
</header>
<!-- header finish -->
