.latest {
    position: relative;
    background: $c_orange url('../static/images/latest_bg.png') center top no-repeat;
    overflow: hidden;
}

.latest__wrapper {
    @extend .wrapper;
}

.latest__title {
    @extend .title_h2;

    margin: $g_space*1.5 0 $g_space;
    color: $c_white;
}

.latest__tile-list {
    display: flex;
    justify-content: space-between;

    @include res(smart) {
		flex-direction: column;
	}
}

.latest__tile {
    flex: 1 1 auto;
    margin: 0;
}

.latest__tile:nth-child(2) {
    margin-left: $g_space;

    @include res(smart) {
		margin-left: 0;
	}
}

.latest__video {
    width: 100%;
}

.latest__image {
    display: block;
    width: 100%;
}

.latest__caption {
    margin: $g_space 0;
    color: $c_white;
}

.latest__video + .latest__caption {
    text-align: center;
}

.latest__link {
    font-size: $fs_button;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: $c_white;

    &:hover {
        text-decoration: underline;
    }
}

.latest__description {
    margin-top: $g_space;
}
