.top-post {
    position: relative;
    margin-bottom: $g_space*2;
    background: $c_yellow url('../static/images/top-post_bg.png') center top no-repeat;
    overflow: hidden;
}

.top-post__wrapper {
    @extend .wrapper;

    display: flex;
    padding-bottom: $g*4;
    overflow: hidden;

    @include res(smart) {
        flex-direction: column;
	}
}

.top-post__image-wrapper {
    flex: 1 1 33%;
    margin-top: $g_space;
    margin-right: $g_space*2;

    @include res(pad) {
        margin-right: $g_space;
	}

	@include res(smart) {
        margin-right: 0;
	}
}

.top-post__image {
    display: block;
    width: 100%;
}

.top-post__info {
    flex: 1 1 67%;
}

.top-post__heading {
    margin-top: $g_space/2;
    font-family: $ff_title;
    font-size: $fs_huge;
    color: $c_white;

    @include res(phone) {
        font-size: $fs_huge*.8;
	}
}

.top-post__title {
    font-size: $fs_heading;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: $c_white;
}

.top-post__author {
    font-size: $fs_heading;
    letter-spacing: .15em;
    color: $c_white;
}

.top-post__preview {
    margin-top: $g_space*.75;
    font-size: $fs_button;
    color: $c_white;
}

.top-post__button {
    margin-top: $g_space;
}
