.returns {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.returns__item {
    margin-top: $g_space;
    font-weight: 500;
}

.returns__question {
    margin-bottom: $g_space/4;
}

.returns__answer {
    font-weight: 300;
}