.nav {
	position: relative;
	min-height: 135px;
}

.nav__wrapper {
	@extend .wrapper;
}

.nav__logo {
	position: absolute;
	left: 50%;
	top: $g*3;
	transform: translate(-50%, 0);
    background: url("../static/images/logo.png" + $ver) center center no-repeat;
    background-size: cover;
    width: 244px;
    height: 67px;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	margin: 0 $g_space*3;
	padding: 0;
	list-style: none;

	@include res(pad) {
		margin: 0 $g_space/2;
	}

	@include res(fablet) {
		padding-top: $g*11;
	}

	@include res(phone) {
		flex-direction: column;
		padding-bottom: $g;
	}
}

.nav__item {
	flex: 1 1 $g*9;
	padding: $g*3 0;
	text-align: center;

	@include res(phone) {
		flex: 1 1 auto;
		padding: $g 0;
	}
}

.nav__item:nth-child(3) {
	margin-right: 33%;

	@include res(fablet) {
		margin: 0;
	}
}

.nav__link {
	position: relative;
	font-family: $ff_alt2;
	font-size: $fs_caption;
	text-transform: uppercase;
	color: $c_grey;
	text-decoration: none;

	&:hover {
		color: $c_blue;
	}
	&_selected {
		color: $c_blue;
	}

	@include res(phone) {
		display: flex;
		align-items: center;
	}
}

.nav__link-icon {
	@include res(phone) {
		flex: 0 0 $g*7;
		height: $g*3;
	}
}

.nav__link-icon > svg {
	max-height: 100%;
}

.nav__link-text {
	@include res(phone) {
		flex: 1 1 auto;
		text-align: left;
	}
}
