<!-- nav start -->
<nav class="nav" role="navigation">
	<div class="nav__wrapper">
        <a class="nav__logo" href="/index.html"></a>
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link{{ nav_competitions }}" href="competitions.html">
                    <div class="nav__link-icon">{% include "../../static/icons/competitions.svg" %}</div>
                    <span class="nav__link-text">Competitions</span>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link{{ nav_themes }}" href="themes.html">
                    <div class="nav__link-icon">{% include "../../static/icons/themes.svg" %}</div>
                    <span class="nav__link-text">Themes</span>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link{{ nav_leaderboard }}" href="leaderboard.html">
                    <div class="nav__link-icon">{% include "../../static/icons/leaderboard.svg" %}</div>
                    <span class="nav__link-text">Leaderboard</span>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link{{ nav_open_blog }}" href="open-blog.html">
                    <div class="nav__link-icon">{% include "../../static/icons/open-blog.svg" %}</div>
                    <span class="nav__link-text">Open blog</span>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link{{ nav_my_profile }}" href="my-profile.html">
                    <div class="nav__link-icon">{% include "../../static/icons/my-profile.svg" %}</div>
                    <span class="nav__link-text">My profile</span>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link{{ nav_shop }}" href="shop.html">
                    <div class="nav__link-icon">{% include "../../static/icons/shop.svg" %}</div>
                    <span class="nav__link-text">Shop</span>
                </a>
            </li>
        </ul>
	</div>
</nav>
<!-- nav finish -->
