.team-member {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.team-member__item {
    display: flex;
    margin-top: $g_space;
    overflow: hidden;

    @include res(smart) {
		flex-direction: column;
		padding-bottom: $g_space;
	}
}

.team-member__image-wrapper {
    flex: 1 1 33%;
    margin-right: $g_space;

    @include res(smart) {
		margin-right: 0;
		margin-bottom: $g_space;
	}
}

.team-member__image {
    display: block;
    width: 100%;
}

.team-member__info {
    flex: 1 1 67%;
}


.team-member__name {
    margin-top: $g_space/8;
    font-size: $fs_subheading;
    text-transform: uppercase;
    letter-spacing: .15em;

}

.team-member__position {
    color: $c_orange_dark;
}

.team-member__description {
    margin-top: $g_space*.5;
}

.team-member__social {
    margin-top: $g_space;
}

.team-member__social-link {
    margin-right: $g_space/4;
    padding: $g/2;
    font-size: $fs_heading;
    color: $c_blue;
}