// .button {
//     display: inline-block;
    // min-width: 100px;
    // height: 45px;
    // padding: 0 25px;
    // border: 0;
    // border-radius: 40px;
    // box-sizing: border-box;
    // background: $c_yellow;
    // color: $c_white;
    // font-weight: 400;
    // font-size: 15px;
    // line-height: 45px;
    // text-align: center;
    // text-decoration: none;
    // text-shadow: none;
    // vertical-align: top;
    // outline: none;
    // user-select: none;
    // transition: $s/3 linear;

    // &:hover {
    //  background: $c_yellow_hover;
    //  color: $c_white;
    //  text-decoration: none;
    //  will-change: background;
    // }

    // &_light {
    //  background: $c_white;
    //  color: $c_yellow;

    //  &:hover {
    //      background: $c_white;
    //      color: $c_yellow;
    //  }
    // }

    // &_bold {
    //  background: $c_grey_dark;

    //  &:hover {
    //      background: $c_grey_dark + #111;
    //  }
    // }

    // &_dark {
    //  background: $c_grey_dark;

    //  &:hover {
    //      background: $c_grey_dark + #111;
    //  }
    // }

    // &_big {
    //  height: 48px;
    //  line-height: 48px;
    // }

    // &_lined {
    //  border: 2px solid $c_transparent;
    //  background: 0;

    //  &:hover {
    //      background: $c_transparent;
    //  }
    // }

    // &_rounded {
    //  border-radius: 22px;
    // }

    // &_fix {
    //  min-width: 280px;
    // }

    // &_wide {
    //  display: block;
    //  width: 100%;
    // }

    // &_up {
    //  text-transform: uppercase;
    // }
// }

// .form {
//     position: relative;

//     &_signup {
//         max-width: 540px;

//         .connect & {
//             margin: 0 auto;
//         }

//         .dilemma & {
//             width: 540px;
//             max-width: 100%;
//             display: inline-block;
//         }
//     }
// }

// .form__set {
//     @extend .cell;
//     margin: 35px 0 0;

//     &:first-child {
//         margin-top: 0;
//     }

//     &:last-child {
//         margin-bottom: 0;
//     }

//     .marketing_subscribe & {
//         max-width: 590px;
//     }

//     .lt-ie10 & {
//         text-align: center;
//     }

//     @include res(smart) {
//         display: block;
//     }
// }

// .form__row {
//     position: relative;
//     margin: 35px 0;

//     .form__set & {
//         margin: 0;

//         @include res(smart) {
//             margin: 35px 0;
//         }
//     }

//     &_half {
//         width: 46%;

//         @include res(smart) {
//             width: auto;
//         }
//     }

//     &:first-child {
//         margin-top: 0;
//     }

//     &:last-child {
//         margin-bottom: 0;
//     }
// }

// .form__element {
//     display: block;
//     position: relative;
// }

// .form__input,
// .form__select,
// .form__textarea {
//     width: 100%;
//     margin: 0;
//     padding: 14px 15px 14px;
//     border: 1px solid $c_border;
//     border-radius: 25px;
//     box-sizing: border-box;
//     background: $c_white;
//     color: $c_text;
//     font-size: 13px;
//     line-height: 1.2;
//     outline: none;
//     transition: $s linear;
//     will-change: border-color;

//     &.error {
//         border-color: $c_danger;
//     }

//     &:focus {
//         border-color: $c_yellow;
//         .filter & {
//             border-color: $c_white;
//         }
//     }

//     .form_signup & {
//         border: 1px solid $c_white;
//         background: none;
//         color: #FFF;
//     }
// }

// .form__input {
//     .marketing_subscribe & {
//         width: 380px;
//     }

//     .form__element_search & {
//         padding-left: 50px;
//     }
// }

// .form__textarea {
//     display: block;
//     overflow: hidden;
//     max-height: 200px;
//     line-height: 1.2;
//     resize: none;

//     &.autoExpand {
//         box-sizing: padding-box;
//     }
// }

// .form__select {
//     height: 45px;
//     padding-top: 0;
//     padding-bottom: 0;
//     appearance: none;
// }

// .form__element_select {
//     position: relative;

//     &:after {
//         content: "\f107";
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         right: 0;
//         width: 45px;
//         border-radius: 0;
//         color: $c_white;
//         line-height: 45px;
//         font-size: 16px;
//         text-align: center;
//         font-weight: bold;
//         font-family: FontAwesome;
//         pointer-events: none;
//     }
// }

// .form__input-upload {
//     position: absolute;
//     visibility: hidden;
// }

// .form__uploader {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     cursor: pointer;

//     &:after {
//         content: "...";
//         position: absolute;
//         top: 1px;
//         bottom: 1px;
//         right: 1px;
//         width: 40px;
//         padding-left: 2px;
//         box-sizing: border-box;
//         background: $c_transparent;
//         color: $c_white;
//         line-height: 32px;
//         font-size: 14px;
//         text-align: center;
//         font-weight: bold;
//         letter-spacing: 3px;
//     }
// }

// .form__input.error ~ .form__label,
// .form__textarea.error ~ .form__label {
//     color: $c_danger;
// }

// label.error {
//     display: block;
//     color: $c_danger;
//     font-size: 11px;
//     font-style: italic;
//     text-align: left;
// }

// @include placeholder {
//     color: #172533;
//     opacity: 0.3;

//     .form_signup & {
//         color: #FFF;
//         opacity: 1;
//     }
// }


// .form__element_search {
//     &:after {
//         content: "\f002";
//         position: absolute;
//         top: 11px;
//         left: 20px;
//         font-family: FontAwesome;
//         font-size: 14px;
//     }
// }

// .form__text {
//     margin: -5px 0;
// }




