@font-face {
    font-family: 'MF I Love Glitter';
    src: url('../static/fonts/mf_i_love_glitter.woff2') format('woff2'),
         url('../static/fonts/mf_i_love_glitter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chalkboard';
    src: url('../static/fonts/chalkboard.woff2') format('woff2'),
         url('../static/fonts/chalkboard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.42;
	font-size: $fs_body;
	font-family: $ff;
	font-weight: 300;
	background-color: $c_white;
	color: $c_text;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

h1,
.title_h1 {
    margin: $g_space*1.5 0;
	position: relative;
    font-family: $ff_title;
    font-size: $fs_title;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
    color: $c_black;
}

h2,
.title,
.title_h2 {
    margin: $g_v*6 0;
    font-size: $fs_large;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1em;
    color: $c_black;
}

h3,
.title_h3 {
    font-size: $fs_heading;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: $c_blue;
}

h4 {
    font-size: $fs_subheading;
    text-transform: uppercase;
    font-weight: 400;
    color: $c_black;
}

hr {
	clear: both;
	margin: $g_space auto;
    border: 0;
	border-top: 1px solid $c_grey;
	width: $g_layout_max;
}

.clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.wrapper {
	position: relative;
	max-width: $g_layout_max;
	min-width: $g_layout_min;
	margin: 0 auto;
	padding: 0;
}

.hidden {
	display: none;
}
