.product {
    position: relative;
    margin-bottom: $g_space*2.5;
}

.product__wrapper {
    @extend .wrapper;

    display: flex;
}

.product__gallery {
    display: flex;
    margin-right: $g_space*2;
}

.product__preview-list {
    display: flex;
    flex-direction: column;
    margin: 0 $g_space/2 0 0;
    padding: 0;
    list-style-type: none;
}

.product__preview-item {
    margin-bottom: $g_space/2;
}

.product__preview-photo {
    display: block;
}

.product__photo-wrapper {

}

.product__photo {
    display: block;
}

.product__info {

}

.product__title {
    margin-bottom: $g_space/8;
    font-size: $fs_larger;
    font-weight: 600;
}

.product__price {
    margin-bottom: $g_space;
    font-size: $fs_large;
}

.product__param-list {

}

.product__param-title {
    margin: $g_space/2 0 $g_space/4;
    font-size: $fs_heading;
    font-weight: 600;
}

.product__param-value {
    margin: 0;
}

.product__input[type=radio] {
    position: relative;
    display: inline-block;
    margin-right: -$g_space;
    border: 0;
    width: $g*4;
    height: $g*4;
    opacity: 0;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1;
}

.product__label {
    position: relative;
    display: inline-block;
    margin-right: $g_space;
    width: $g*4;
    height: $g*4;
    line-height: $g*4;
    font-size: $fs_heading;
    text-align: center;
    vertical-align: middle;
}

.product__input[type=radio]:checked + .product__label {
    color: $c_blue;
}

.product__label_color {
    margin-right: $g_space/4;
    border: 1px solid transparent;
    border-radius: 50%;
}

.product__input[type=radio]:checked + .product__label_color {
    border-color: $c_black;
}

.product__label_color:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $g*3;
    height: $g*3;
    border-radius: 50%;
}

.product__label_red:after {
    background-color: $c_radio_red;
}

.product__label_blue:after {
    background-color: $c_radio_blue;
}

.product__desc-title {
    margin-top: $g_space*1.25;
    margin-bottom: $g_space*.75;
    font-size: $fs_large;
    text-transform: uppercase;
}

.product__desc {
    font-size: $fs_heading;
}

.product__social {
    margin-top: $g_space*1.25;
}

.product__social-link {
    margin-right: $g_space*.5;
    font-size: $g_icon;
}
